<div class="container text-center">
    <p> Directives are custom HTML attributes which tell angular to change the style or behavior of the Dom elements.
    </p>
    <p>Following are types of directive we have in angular</p>
</div>
<div class="card-columns">
    <div class="card bg-info">
        <div class="card-body text-center">
            <h3 class="card-text">Structural Directives </h3>
            <p>ngFor, ngIf</p>
        </div>
    </div>
    <div class="card bg-warning">
        <div class="card-body text-center">
            <h3 class="card-text">Attribute Directives</h3>
            <p>ngClass, ngStyle</p>
        </div>
    </div>
    <div class="card bg-success">
        <div class="card-body text-center">
            <h3 class="card-text">Custom Directives</h3>
            <p>cli command -> ng g d directiveName</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5 bg-light">
        <div class="row">
            <div class="col-md-12 text-center">
                <h5> ngFor using variable </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Name</th>
                            <th>City</th>
                            <th>Stream</th>
                            <th>Position</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let student of studentList;let i=index;let isFirst = first;let isLast = last">
                            <td>{{i+1}}</td>
                            <td>{{student.name}}</td>
                            <td>{{student.city}}</td>
                            <td>{{student.stream}}</td>
                            <td> 
                                 {{isFirst?'First Record':''}}
                                 {{isLast?'Last Record':''}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
    <div class="col-md-5 bg-light offset-md-2">
        <div class="row">
            <div class="col-md-12 text-center">
                <h5> ngFor using function which is returning array </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Name</th>
                            <th>City</th>
                            <th>Stream</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let student of getStudentList();let i=index">
                            <td>{{i+1}}</td>
                            <td>{{student.name}}</td>
                            <td>{{student.city}}</td>
                            <td>{{student.stream}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row pt-3 pb-5">
    <div class="col-md-6 offset-md-3 bg-info ">
        <div class="row pt-3">
            <div class="col-md-4">
                <input type="text" [(ngModel)]="city" placeholder="Enter City Name" class="form-control">
            </div>
            <div class="col-md-4 text-right">
                <button class="btn btn-success" (click)="addCity()">Add City</button>
            </div>
        </div>
        <hr>
        <div class="row pt-3">
            <div class="col-md-6">
                <h5>ngFor on div tag</h5>
                <div *ngFor="let cityName of cityList">{{cityName}}</div>
            </div>
            <div class="col-md-6">
                <h5> ngFor on Dropdown tag </h5> 
                <select class="form-control">
                    <option *ngFor="let city of cityList">{{city}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5> ngFor on UL Li tag </h5> 
                <ul>
                    <li *ngFor="let city of cityList">{{city}}</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h5> ngFor on label tag </h5> 
                <label *ngFor="let cityLabel of cityList">{{cityLabel}}</label> 
            </div>
        </div>
    </div>
</div>